html,
body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'BMJUA';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: 'BMJUA';
  src: url('/fonts/otf/BMJUA_otf.otf') format('opentype'); /* 절대 경로로 수정 */
  font-weight: normal;
  font-style: normal;
}
