.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 100vh;
  max-height: 1200px;
  padding: 0;
  margin: 0;
  background-color: white;

  .title {
    font-size: 30px;
  }

  .input {
    font-family: 'BMJUA';
    width: 340px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

.select-button-box {
  display: flex;
  justify-content: space-between;
  width: 360px;
  .select {
    font-family: 'BMJUA';
    width: 40%;
    height: 40px;
    margin: 10px 0;
  }
}

.line {
  width: 360px;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}

.recipe-info {
  display: flex;
  width: 370px;
  margin-right: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ol li {
  margin-bottom: 1rem; /* 한 줄 띄우기 위한 공간 추가 */
}

.button {
  font-family: 'BMJUA';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  height: 40px;
  margin: 10px 0;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #f4af54;
  color: white;
  cursor: pointer;
}
